{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}
{% block content %}

<main role="main" class="new govuk-main-wrapper">

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Introduction</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="/index" aria-current="location">Introduction</a>
        </li>
      </ul>

      <h4 class="moj-side-navigation__title">Tutorials</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item ">
          <a href="/populate-tables-JSON">Populating tables using JSON</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="/branching-search-box">Branching from a search box</a>
        </li>

        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="/filters">Filtering</a>
        </li>
      </ul>
    </nav>

  </div>

      <div class="govuk-grid-row">
        <div id="filters-column" class="govuk-grid-column-one-quarter">
          {% include "/filters-enor-2.html" %}
        </div>


         <button id="toggle-filters" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Hide filters
          </button>
          
        </div>

      </div>

    </div>
  </div>


</main>



{% endblock %}

{% block pageScripts %}

<script src="/public/javascripts/workflow.js"></script>


<script type="text/javascript">
  element = document.querySelector('#tt-overlay')
  id = 'autocomplete-overlay'
  accessibleAutocomplete({
    displayMenu: 'overlay',
    element: element,
    id: id,
    source: caseManagers
  })
</script>

<script type="text/javascript">
  element = document.querySelector('#tt-autoselect')
  id = 'autocomplete-autoselect'
  accessibleAutocomplete({
    autoselect: true,
    element: element,
    id: id,
    source: caseManagers
  })
</script>
{% endblock %}
