<div class="filters-accordion js-closed">
  <h2 class="filters-accordion__heading js-container-heading">
    <button class="js-container-button filters-accordion__title filters-accordion__button" type="button" aria-expanded="false" id="filters-accordion-client-name" aria-controls="client-name">Accomodation type</button>
    <img src="/public/images/accordion-closed.svg" class="filters-accordion__icon filters-accordion__icon--up" aria-hidden="true" focusable="false" />
    <img src="/public/images/accordion-open.svg" class="filters-accordion__icon filters-accordion__icon--down" aria-hidden="true" focusable="false" />
  </h2>

  <div class="filters-accordion__filter">

    <div class="filters-accordion__search">

    <label for="accomodationFilterSearch" class="govuk-label govuk-visually-hidden">
      Enter a accomodation type
    </label>
    <input name="option-select-filter" id="accomodationFilterSearch" class="filterCheckboxes filters-accordion__filter-input govuk-input" type="text" aria-describedby="checkboxes-19682d1b-count" aria-controls="checkboxes-19682d1b">

    </div>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m govuk-visually-hidden">
        Accomodation type
      </legend>

      <div class="govuk-checkboxes govuk-checkboxes--small">
        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="no-accomodation" name="no-accomodation" status="checkbox" value="complete" checked>
          <label class="govuk-label govuk-checkboxes__label" for="no-accomodation">
            No accommodation type
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="care-home" name="care-home" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="care-home">
            Care/nursing/residential home (private/LA/registered)
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="council-rented" name="council-rented" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="council-rented">
            Council rented
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="family" name="family" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="family">
            Family member or friend's home
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="hsp" name="hsp" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="hsp">
            Health service patient
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="h-a" name="h-a" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="h-a">
            Housing association
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="hotel" name="hotel" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="hotel">
            Hotel
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="hostel" name="hostel" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="hostel">
            Hostel
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="la3" name="la3" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="la3">
            Local authority part 3 accommodation
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="nhs" name="nhs" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="nhs">
            NHS accommodation e.g. hospital or hostel
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="nfa" name="nfa" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="nfa">
            No fixed address
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="other" name="other" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="other">
            Other
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="own-home" name="own-home" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="own-home">
            Own home
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="p-h" name="p-h" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="p-h">
            Private hospital
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="pr" name="pr" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="pr">
            Private rented (eg not council)
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="ssa" name="ssa" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="ssa">
            Supervised sheltered accommodation
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="s-hosp" name="s-hosp" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="s-hosp">
            Secure hospital
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="s-house" name="s-house" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="s-house">
            Supported housing
          </label>
        </div>

        <div class="govuk-checkboxes__item filter__checkbox">
          <input class="govuk-checkboxes__input" id="s-living" name="s-living" status="checkbox" value="incomplete">
          <label class="govuk-label govuk-checkboxes__label" for="s-living">
            Supported living
          </label>
        </div>
      </div>

    </fieldset>
  </div>
</div>

