<div class="filters-accordion js-closed">
  <h2 class="filters-accordion__heading js-container-heading">
    <button class="js-container-button filters-accordion__title filters-accordion__button" type="button" aria-expanded="false" id="option-select-title-task-type" aria-controls="list_of_countries_to_filter">Filter two</button>
    <img src="/public/images/accordion-closed.svg" class="filters-accordion__icon filters-accordion__icon--up" aria-hidden="true" focusable="false" />
    <img src="/public/images/accordion-open.svg"  class="filters-accordion__icon filters-accordion__icon--down" aria-hidden="true" focusable="false" />
  </h2>

  <br>

<!-- This is the search bar within the filters -->
  <div class="filters-accordion__filter"> <label for="input-3eca3372" class="govuk-label govuk-visually-hidden">
      Enter a name
    </label>
    <input name="option-select-filter" id="taskSearch" class="filterCheckboxes filters-accordion__filter-input govuk-input" type="text" aria-describedby="checkboxes-19682d1b-count" aria-controls="checkboxes-19682d1b">
  </div>


  <div role="group" aria-labelledby="option-select-task-type" class="filters-accordion__container js-options-container" id="list_of_tasks_to_filter" tabindex="-1" style="height: 254.333px;">
    <div class="filters-accordion__container-inner js-auto-height-inner">
      <fieldset class="govuk-fieldset">
        <div class="govuk-checkboxes govuk-checkboxes--small">
         
          <div class="govuk-checkboxes__item filter__checkbox">
            <input class="govuk-checkboxes__input task-type" id="" name="taskType" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="">
              Option one
            </label>
          </div>

          <div class="govuk-checkboxes__item filter__checkbox">
            <input class="govuk-checkboxes__input task-type" id="" name="taskType" type="checkbox" value=" }}">
            <label class="govuk-label govuk-checkboxes__label" for="">
              Option two
            </label>
          </div>

          <div class="govuk-checkboxes__item filter__checkbox">
            <input class="govuk-checkboxes__input task-type" id="" name="taskType" type="checkbox" value="">
            <label class="govuk-label govuk-checkboxes__label" for="">
              Option three
            </label>
          </div>

          <div class="govuk-checkboxes__item filter__checkbox">
            <input class="govuk-checkboxes__input task-type" id="" name="taskType" type="checkbox" value=" }}">
            <label class="govuk-label govuk-checkboxes__label" for="">
              Option four
            </label>
          </div>
          
        </div>
      </fieldset>
    </div>

  </div>

</div>

