{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

		<div class="govuk-grid-column-full">
		    <h1 class="govuk-heading-xl">
		      Prototype Kit Training 
		    </h1>
		</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-third">

    <nav class="moj-side-navigation" aria-label="Side navigation">
      <h4 class="moj-side-navigation__title">Introduction</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item moj-side-navigation__item--active">
          <a href="#1.1" aria-current="location">Introduction</a>
        </li>
      </ul>

      <h4 class="moj-side-navigation__title">Section 2</h4>
      <ul class="moj-side-navigation__list">
        <li class="moj-side-navigation__item">
          <a href="#2.1">Nav item 2.1</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#2.2">Nav item 2.2</a>
        </li>

        <li class="moj-side-navigation__item">
          <a href="#2.3">Nav item 2.3</a>
        </li>
      </ul>
    </nav>

  </div>



<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-third">

  <h2 class="govuk-heading-l">Intoduction</h2>



    <p>Welcome to the GOV.UK Prototype Kit Tutorial site for the Ministry of Justice</p>

    <p> This tutorial site brings together practical guidance, tips, and shared knowledge from across our Communities of Practice to help you make the most of the GOV.UK Prototype Kit. </p>

    <p> Whether you're just starting out or looking to deepen your prototyping skills, you'll find step-by-step instructions, real-world examples, and insightful techniques to help you build user-centred journeys that align with GOV.UK standards.</p>


     <p></p>


  </div>
</div>




{% endblock %}
