{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

		<div class="govuk-grid-column-full">
		    <h1 class="govuk-heading-xl">
		      Ryan's Prototype Kit Training 
		    </h1>
		</div>


	      <div class="govuk-grid-column-one-third">
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Introduction
        </span>
      </h2>
    </div>
    
   <div id="accordion-default-content-1" style="padding-bottom: 10px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
    <li class="moj-side-navigation__item moj-side-navigation__item--active" style="list-style-type: none"> 
       <a href="index" >Introduction</a>
    </div>

    

  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Beginner
        </span>
      </h2>
    </div>
     
     <!-- This is the first option --> 

      <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item " style="list-style-type: none"> 
        <a href="index" >Getting started - Code editors </a></li>
    </div>

<!-- This is the Second option -->

    <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Gettingstarted2" >Getting started - Checking node </a></li>
    </div>

<!-- This is the Third option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Gettingstarted3" >Getting started - Opening and running the kit </a></li>
    </div>
  

  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Intermediate
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
      <p class="govuk-body">These are the Intermediate skills .</p>
      <!-- This is the Third option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Gettingstarted3" > </a></li>
    </div>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Advanced
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for How people read.</p>
    </div>
  </div>
    <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Tutorials
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the tutorial section. Here we will learn how to put together a prototype slowly building up its complexity. </p>
       <!-- This is the first option --> 

      <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item " style="list-style-type: none"> 
        <a href="Tutorial1" >Tutorial one - Creating, editing and linking pages</a></li>
    </div>

<!-- This is the Second option -->

    <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item " style="list-style-type: none"> 
        <a href="Tutorial2" >Tutorial two - Passing data between pages </a></li>
    </div>

<!-- This is the third option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Tutorial3" >Tutorial three - Routing </a></li>
    </div>

    <!-- This is the fourth option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Tutorial4" >Tutorial four - Show and hiding things based on answers</a></li>
    </div>
  
  <!-- This is the fifth option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Tutorial5" >Tutorial five - Text inputs remembering previously entered data </a></li>
    </div>

    </div>
  </div>
</div>

    </div>
	 
	 <main role="main" class="new govuk-main-wrapper-2">
	 	<h2 class="govuk-heading-l">Introduction </h2>



	 	<p>Welcome to my site, which is going to cover a whole range of topics and tutorials to help lear how to use the Government prototype kit</p>

	 	



	 </div>	
	</div>


{% endblock %}
