{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">

		<div class="govuk-grid-column-full">
		    <h1 class="govuk-heading-xl">
		      MOJ Prototype Kit Training 
		    </h1>
		</div>


	  <div class="govuk-grid-column-one-third">

	    <nav class="moj-side-navigation" aria-label="Side navigation">
	      <ul class="moj-side-navigation__list">
	        <li class="moj-side-navigation__item  moj-side-navigation__item--active">
	          <a href="index" >Getting started - Code editors</a>
	        </li>

	         <li class="moj-side-navigation__item ">
	          <a href="Gettingstarted2" >Getting started - Checking node</a>
	        </li>

	         <li class="moj-side-navigation__item ">
	          <a href="Gettingstarted3" >Getting started - Opening and running the kit</a>
	        </li>

	        <li class="moj-side-navigation__item">
	         <a href="tutorial1" >Tutorial one - Creating, editing and linking pages</a>
	        </li>

	        <li class="moj-side-navigation__item">
	          <a href="tutorial2" aria-current="location">Tutorial two - Passing data between pages</a>
	        </li>

	        <li class="moj-side-navigation__item">
	          <a href="tutorial3">Tutorial three - Routing</a>
	        </li>

	        <li class="moj-side-navigation__item">
	          <a href="tutorial4" aria-current="location">Tutorial four - Using data to conditionally show and hide things</a>
	        </li>
	      </ul>
	    </nav>

	  </div>



	 
	 <main role="main" class="new govuk-main-wrapper-2">
	 	<h2 class="govuk-heading-l">Getting started - Code editors</h2>



	 	<p>Before we can get started with creating prototypes, we first need to check we have a few things downloaded and set up.</p>

	 	<p>Firstly, you will need to download a code editor, which are available from self service in the developer tools section. The names of the most popular ones are <span style="font-weight: bold;">Visual Code Studio, Sublime and Atom</span></p>



	 </div>	
	</div>


{% endblock %}
