{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

 <h2 class="govuk-heading-l">
        Search
      </h2>

<div class="govuk-grid-row-full-width">

 

 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   {%- from "moj/components/search/macro.njk" import mojSearch -%}
      
            {{ mojSearch({
              action: "search",
              method: "post",
              input: {
                id: "search-nofilters",
                name: "search-nofilters"
              },
              label: {
                text: "",
                classes: "govuk-!-font-weight-bold"
              },
              hint: {
                text: "Search using a word, phrase or question "
              },
              button: {
                text: "Search"
              }

            }) }}

<style>

.moj-search {
  padding: 0px;

}

.moj-search form {
  display: flex;
}
</style>
{% endblock %}
