{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-full">
	    <h1 class="govuk-heading-xl">
	      Ryan's Prototype Kit Training  
	    </h1>
	</div>

	      <div class="govuk-grid-column-one-third">
<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          Introduction
        </span>
      </h2>
    </div>
    
   <div id="accordion-default-content-1" style="padding-bottom: 10px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
    <li class="moj-side-navigation__item" style="list-style-type: none"> 
       <a href="index" >Introduction</a>
    </div>

    

  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Beginner
        </span>
      </h2>
    </div>
     
     <!-- This is the first option --> 

      <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item " style="list-style-type: none"> 
        <a href="Gettingstarted" >Getting started - Code editors </a></li>
    </div>

<!-- This is the Second option -->

    <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Gettingstarted2" >Getting started - Checking node </a></li>
    </div>

<!-- This is the Third option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Gettingstarted3" >Getting started - Opening and running the kit </a></li>
    </div>
  

  </div>

  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
          Intermediate
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
      <p class="govuk-body">These are the Intermediate skills .</p>
      <!-- This is the Third option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Gettingstarted3" > </a></li>
    </div>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Advanced
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for How people read.</p>
    </div>
  </div>
    <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Tutorials
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the tutorial section. Here we will learn how to put together a prototype slowly building up its complexity. </p>
       <!-- This is the first option --> 

      <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item " style="list-style-type: none"> 
        <a href="Tutorial1" >Tutorial one - Creating, editing and linking pages</a></li>
    </div>

<!-- This is the Second option -->

    <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item moj-side-navigation__item--active" style="list-style-type: none"> 
        <a href="Tutorial2" >Tutorial two - Passing data between pages </a></li>
    </div>

<!-- This is the third option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Tutorial3" >Tutorial three - Routing </a></li>
    </div>

    <!-- This is the fourth option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Tutorial4" >Tutorial four - Show and hiding things based on answers</a></li>
    </div>
  
  <!-- This is the fifth option -->
     <div id="accordion-default-content-1" style="padding-bottom: 5px; font-family: GDS Transport, arial, sans-serif; font-size: 19px; padding-left: 10px;" class="govuk-accordion__section-content">
       <li class="moj-side-navigation__item" style="list-style-type: none"> 
        <a href="Tutorial5" >Tutorial five - Text inputs remembering previously entered data </a></li>
    </div>

    </div>
  </div>
</div>

    </div>

 <div class="govuk-grid-column-two-thirds">
	 	<h2 class="govuk-heading-l">Tutorial Two: Passing data between pages</h2>



	 	<p> To begin passing data between pages we need to modify our question and check answers pages.	</p>

	 	<p> On the first question page, take note of the input and more specifically the name. For example the one used in this tutorial is <span style="font-weight: bold;"> name="currentname" </span>. This is what we shall use on the check answers page to then get the prototype to resurface whatever is typed into that input </p>

	 	<p> Within the check your answers page locate the value and text for the first question. In the text section enter the following  <span style="font-weight: bold;"> data['currentname'] or ['Current name not entered'] </span>. The video before will help you make sure this is done correctly. </p>

	 	<div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/f4ee78a7d4a745ff92aad6faddbafa0c?sid=edbb76fe-85f0-4699-a2bc-5c491946820d" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

	 	<p>It should look like the above video for question one. </p>

	 	<p>For passing data from the second radio button question we need to again remember the value for the radio buttons. Go to the code for this page and our example is <span style="font-weight: bold;"> name="choicenewname" </span>.</p> 

	 	<p>Also on this page you will need to change the values on each of the options. In our example we have a yes or no radio button choice so change the text to <span style="font-weight: bold;"> value="Yes" </span>  and <span style="font-weight: bold;"> value="No" </span>. This will mean that whichever choice is selected the right value will be displayed on the check answers page. </p>

	 	<p> Now back on the check answers page we need to again get the prototype to resurface this remembered data in the right place. Repeat the same step of entering the right pieces of code in the correlating place for the second question. Place the following <span style="font-weight: bold;"> data['choicenewname'] or ['Current name not entered']  </span>. This will again bring through and display whatever choice is made on the radio buttons. </p>

	 	<div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/53b4aca4c2d44e1a81a64777ba456c00?sid=6a515e0f-e9bf-42fb-8adb-5df7448983bf" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>

	 	<p>It should look like the above video for question two. </p>

	 	<p>The final step to this is just completing these steps for the last question </p>

	 	<p>Repeat the same step of changing the code for the name in the input. For the example we have used it will be as follows <span style="font-weight: bold;"> name="newname" </span>  </p>

	 	<p> Finally place the <span style="font-weight: bold;"> data['newname'] or ['Current name not entered']  </span> in the text section for the third question on the check answers page.</p>

	 	<div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/45ccf2190f90451287a63a5cca41b6bf?sid=3c0d15af-6c03-45fb-854f-920ab3247fca" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>


	 	<p>It should look like the above video for question three. </p>

	 	<p>Below is a video of how the prototype should now run through the pages remembering the data and then resurfacing whatever was inputted in the right place.</p>


	 	<div style="position: relative; padding-bottom: 56.25%; height: 0;"><iframe src="https://www.loom.com/embed/91c4a51e278943ba945a4db3f59dd7e8?sid=89ce1bb1-9039-48d4-bb3e-cfae0aebfb06" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>








	</div>
</div>


{% endblock %}
